# - Minecraft Ignores - #

config/
journeymap/
logs/
resourcepacks/
saves/
shaderpacks/
.curseclient
crafttweaker.log
minecraftinstance.json
patchouli_data.json
usercache.json
usernamecache.json
screenshots/
crash-reports/